.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 9999;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111111dc;
}



.logo{
    position: fixed;
    left: 20px;
    width: 8rem;
}

.avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 2.6rem;
    height: auto;
}